body {
    justify-items: center;
    display: grid;
    margin-block-end: 5rem;
    gap: 2rem;
    text-align: center;
}

.hidden {
    display: none;
}

h1 {
    text-shadow: 2px 2px 2px pink;
}

button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 5px solid pink;
}

#ladder {
    display: grid;
    width: 200px;
    padding-block: 1rem;
    gap: 2rem;
    position: relative;

    & hr {
        width: 100%;
        border: solid black 4px;
    }

    & img {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -60px;
    }
}

.border-inline {
    border-inline: solid black 1rem;
}
