.styled-list {
    text-align: center;  
    width: fit-content;  
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styled-list li {
    text-align: left; /* Keeps sub-items readable */
    width: 100%; 
}

@media (max-width: 1200px) {
    .year-content {
        width: 95%;
        height: 70vh;
    }
    .center-section p li {
        font-size: xx-small;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .year-content {
        width: 90%;
        height: 65vh;
    }
    .center-section p li {
        font-size: xx-small;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .year-content {
        width: 85%;
        height: 60vh;
    }
    .center-section p li {
        font-size: xx-small;
        text-align: center;
    }
}