@import "years.css";


/* Custom Bottom Content Layout */
.bottom-content {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* spacing between bullet list and image */
}

.bottom-content img {
    max-width: 150px;
    width: 40%;
}

.center-section {
    padding-top: 0;
    text-align: center;
}
