@import "years.css";

.bottom-content {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.bottom-content img {
    max-width: 150px;
    width: 40%;
}

.year-container {
    justify-content: center;
}
