@import "styles.css";

body {
    background: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden; 
}

/* Fake Browser Bar */
.top-bar {
    background: var(--light-grey);
    height: 30px;
    width: 100%;
}

/* Header */
title {
    color: var(--dark-grey);
    padding-bottom: 10px;
    padding-top: 0px;
}

nav ul li a {
    color: var(--dark-grey);
}

header {
    padding-bottom: 0px;
}

/* Page Layout */
.year-container {
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    width: 100%;
}

.year-container h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

.year-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;  
    width: 100%;
    max-width: 1200px;
    height: 75; 
    margin: 0 auto;
}

.side {
    width: 25%;
    background: var(--darkpink);
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.frame {
    background: var(--light-grey);
    padding: 10px;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame img {
    width: 100%;
    border-radius: 10px;
    flex-grow: 1;
}

.frame p {
    background-color: var(--babypink);
    background-size:auto;
}

/* Center Section */
.center-section {
    width: 25%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    padding-bottom: 1px;
    padding-top: 1px;
}

.dotted {
    border: none;
    border-top: 2px dotted var(--dark-grey);
    width: 80%;
    margin: 20px auto;
}

.bottom-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-content img {
    max-width: 250px;
    width: 80%;
}


/* Pagination */
.pagination {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin-top: auto;
    bottom: 0;
}

.prev, .next {
    background: var(--white);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--dark-grey);
}

.next {
    margin-right: 60px;
}



/* Responsiveness */
@media (max-width: 768px) {
    .year-content {
        flex-direction: column;
        align-items: center;
    }

    .side, .center-section {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .year-content {
        width: 100%;
    }

    .bottom-content img {
        width: 90%;
    }
}