body {
    background-color: rgb(255, 229, 233);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    text-align: center;
    color:rgb(255, 100, 124);
}

header {
    background-color:rgb(255, 154, 169);
    padding: 10px;
    color: white;
}

#course-description {
    margin-bottom: 15px 0;
    color: rgb(255, 132, 0);
}

/* Section Container */
.section-container {
    margin: 10x auto;
    padding: 10px;
    max-width: 1200px;
}

/* Card Container for Assignments and Projects */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

/* Cards */
.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    padding: 15px;
    text-align: center;
    width: 280px;
}

/* Images */
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Headings & Links */
.card h3 {
    color: rgb(255, 108, 63);
    margin: 10px 0;
}

.card p {
    color: rgb(158, 75, 52);
    margin-bottom: 15px;
}

.card a {
    text-decoration: none;
    color: rgb(255, 131, 114);
    font-weight: bold;
}

.card a:hover {
    color: rgb(255, 189, 91);
}

/* Footer */
footer {
    background-color: rgb(255, 154, 169);
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}